* {
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ca993b;
}

h1 {
  color: rgb(185, 64, 126);
}

h2 {
  color: #554149;
}

h3 {
  color: Pink;
}

h4 {
  color: hsl(43, 100%, 28%);
}
